.inputTableSaisie{
    background-color: transparent; /* Fond transparent */
    border: 1px solid #ccc;       /* Bordure visible */
    color: black;                 /* Couleur du texte */
    outline: none;                /* Retirer l'effet de focus par défaut */
    padding: 10px;                /* Espacement intérieur */
}
